/*
* Created on: 17.11.2025
* Creator: Jakub Bielec
*/

/*The clock gets formed and positioned*/
.clock {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    background-color: rgb(252, 240, 198);
    border: 8px solid black;
    border-radius: 50%;
}

/*The hand should be in the middle*/
.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
}

/* Hour-hand*/
.hour-hand {
    width: 35%;
    height: 6px;
    background-color: #000000;
}

/* Minute-hand*/
.min-hand{
    width: 45%;
    height: 4px;
    background-color: #000000;
}

/* Second-Hand*/
.second-hand {
    width: 48%;
    height: 2px;
    background-color: red;
}
